In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Cars.csv')

In [4]:
df.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [6]:
probabilty_of_38 = len(df[df['MPG'] > 38]) / len(df)
probabilty_of_38

0.4074074074074074

In [8]:
probabilty_of_40 = len(df[df['MPG'] < 40]) / len(df)
probabilty_of_40

0.7530864197530864

In [11]:
probabilty_of_20_and_50 = len(df[(df['MPG'] > 20) & (df['MPG'] < 50)]) / len(df)
probabilty_of_20_and_50

0.8518518518518519